<div class="container div2">
    <h1>Employee Details</h1>
    </div>
    
    <div class="container div1">
    




<table class="table">
        <thead>
          <tr>
            
           
            <th scope="col">Note Date</th>
            <th scope="col">Note Topic</th>
            <th scope="col">note</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Note">
                <td>{{Note.noteDate}}</td>
                <td>{{Note.noteTopic}}</td>
                <td>{{Note.note}}</td>
            
             
          </tr>
         
        </tbody>
      </table>

  </div>